# Copy this file to .env and fill in your values

SECRET_KEY=generate-a-random-string-here
DEBUG=False
ALLOWED_HOSTS=your-server-ip,your-domain.com

# Orthanc PACS — use localhost if on the same server
ORTHANC_URL=http://127.0.0.1:8042
ORTHANC_USER=your-orthanc-username
ORTHANC_PASS=your-orthanc-password

# Redis — use localhost if on the same server
REDIS_URL=redis://127.0.0.1:6379
